$bg-darker: #302550;
$bg-dark: #5e42a6;
$bg-neutral: #5155B4;
$bg-light: #AF4C91;
$bg-lighter: #B35597;
$bg-transparent: rgba(255, 255, 255, 0.05);

$text-primary: #ffffff;
$text-secondary: rgba(240, 240, 240, 0.6);