$screen-xs: 30rem;
$screen-sm: 50rem;
$screen-md: 60rem;
$screen-lg: 90rem;

@mixin mq($size) {
  @media (min-width: $size) {
    @content;
  }
}

@mixin mqs($size, $setting) {
  @media (min-width: $size) {
    font-size: $setting;
  }
}

@mixin mqf($size, $fontsize) {
  @media (min-width: $size) {
    font-size: $fontsize;
  }
}

@mixin mqp($size, $pad) {
  @media (min-width: $size) {
    padding: $pad;
  }
}