@use 'typography' as *;
@use 'colors' as *;
@use 'media' as *;

body {
  font-family: $text-main;
}

h1, h2, h3 {
  font-family: $text-title;
  color: $text-primary;
  margin-bottom: 1rem;   
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;

  @include mqs($screen-lg, 3rem);
}

h2 {
  font-size: 1.5rem;

  @include mqs($screen-md, 2rem);
  
  @include mqs($screen-lg, 2.25rem);
}

h3 {
  font-size: 1.25rem;

  @include mqs($screen-lg, 1.5rem);
}

p {
  font-size: 1rem;
  font-weight: 200;
  color: $text-secondary;
  line-height: 1.5;
  margin-bottom: 1rem;

  @include mqs($screen-md, 1.125rem);
}

a {
  color: $text-secondary;
}

p.description {
  font-size: 1.025rem;
  line-height: 1.7;
  margin-bottom: 2rem;

  @include mqs($screen-md, 1.25rem);
}

label {
  font-size: 1.025rem;
  color: $text-primary;
}

input, textarea {
  font-size: 1rem;
  color: $text-secondary;
}

.generic-content {
  padding: 1rem;

  h5 {
    color: $bg-dark;
    font-size: 1.25rem;
  }
}