@use '../style_global' as *;

.article-wrapper {

  .article-header {
    border-bottom: 2px solid;
    border-image: $border-gradient 1;
    margin-top: 1rem;
    margin-bottom: 2rem;

    @include mq($screen-md) {
      margin-bottom: 3rem;
    }
  }

  .article-container {
    margin-bottom: 3rem;

    @include mq($screen-sm) {
      display: flex;
    }
  }

  .article-img {
    margin-bottom: 2rem;
    width: 100%;

    @include mq($screen-sm) {
      flex: 1;
      margin-bottom: 0;
    }

    @include mq($screen-md) {
      flex: 2;
    }
  }

  .article-text {
    width: 100%;

    @include mq($screen-sm) {
      flex: 1;
      padding: 0 1rem;
    }

    @include mq($screen-md) {
      flex: 3;
    }

    @include mq($screen-lg) {
      padding: 0 2rem;
    }

    .article-url {
      margin: 2rem initial;

      a {
        text-decoration: underline;
      }
    }
  }
}