@use '../style_global' as *;

.block-header {
  margin-bottom: 2rem;

  // p {
  //   @include mq($screen-md) {
  //     max-width: 80%;
  //   }
  // }


}

.block-header-decor {
  border-bottom: 2px solid;
  border-image: $border-gradient 1;
}