@use '../style_global' as *;

.btn-link {
  font-family: $text-title;
  font-size: 0.6em;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  
  text-transform: uppercase;
  letter-spacing: 0.25em;
  line-height: 4.75em;

  background-color: transparent;
  border: 1px solid rgba(160, 160, 160, 0.5);
  border-radius: 10px;
  outline: 0;

  display: inline-block;
  position: relative;
  height: calc(4.75em + 2px);
  padding: 0 3.75em;
  cursor: pointer;
  white-space: nowrap;

  transition: background-color 0.3s ease;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
