@use '../style_global' as *;

.contact-wrapper {
  background-color: $bg-dark;
}

.contact-blocks {
  @include mq($screen-md) {
    display: flex;
    align-items: flex-start;
  }
}

.contact-form {
  flex: 2;
  margin-bottom: 3rem;

  @include mq($screen-md) {
    padding-right: 3rem;
  }

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input, textarea {
    text-decoration: none;
    appearance: none;
    width: 100%;
    background: $bg-transparent;
    border: 1px solid $border-color;
    border-radius: 0.25em;  
    outline: 0;
    padding: 1em;
  }

  input {
    display: block;
    height: 2.75em;
    margin-bottom: 2rem;
  }

  .form-row:nth-child(1), 
  .form-row:last-child {
    @include mq($screen-sm) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .form-col {
      width: 100%;
      
      @include mq($screen-sm) {
        width: 50%;
      }
     
    }
  }

  .form-row:last-child {
    margin-top: 2rem;

    .form-col:nth-child(2){
      text-align: right;
    }
  }
}

.contact-info {
  flex: 1;
  border-top: 1px solid $border-color;
  padding-top: 3rem;

  @include mq($screen-md) {
    border-top: 0;
    border-left: 1px solid $border-color;
    padding-top: 0;
    padding-left: 3rem;
  }

  div {
    margin-bottom: 2.5rem;
  }

  p {
    font-size: 98%;
    margin-bottom: 0.25rem;
  }

  svg {
    display: inline-block; 
    fill: $text-secondary;
    color: $text-secondary;
    max-width: 2.5rem;
    transition: all 0.3s;

    &:hover {
      fill: $text-primary;
    }
  }

  .social-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    * {
      width: 2.5rem;
      padding-right: 0.75rem;
    }

    a:last-child {
      padding: 0;
    }
  }

}

.form-msg {
  font-size: 1rem;
  font-style: italic;
}