@use '../style_global' as *;

.nav-wrapper+.content-wrapper {
  min-height: 100vh;
  margin-left: 0;
  // padding-top: 6rem;

  @include mq($screen-md) {
    margin-left: 18rem;
    padding-top: 0;
  }
}

.content-wrapper {
  background-color: $bg-deepdark;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container {
  z-index: 2;
  max-width: $screen-lg;
  width: 100%;
  margin: auto;
  padding: 2rem 1rem;

  @include mqp($screen-xs, 2rem);
  @include mqp($screen-md, 3rem);
  @include mqp($screen-lg, 4rem);

}

.generic-content+.btn-container {
  text-align: center;
  margin-top: 1rem;
}