@use '../style_global' as *;

.contact-wrapper {
  background-color: $bg-darker;
}

.contact-form {

  margin-bottom: 3rem;

  label {
    display: block;
    margin-bottom: 1rem;
  }

  input, textarea {
    text-decoration: none;
    appearance: none;
    width: 100%;
    background: $bg-transparent;
    border: 1px solid $border-color;
    border-radius: 0.25em;  
    outline: 0;
    padding: 1em;
  }

  input {
    display: block;
    height: 2.75em;
    margin-bottom: 2rem;
  }

  .form-row:nth-child(1) {
    @include mq($screen-sm) {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    .form-col {
      width: 100%;
      
      @include mq($screen-sm) {
        width: 50%;
      }
     
    }
  }
}

.contact-info {
  border-top: 1px solid $border-color;
  padding-top: 3rem;

  div {
    margin-bottom: 2rem;
  }

  p {
    font-size: 98%;
    margin-bottom: 0.25rem;
  }

  svg {
    display: inline-block;
    fill: $text-secondary;
    color: $text-secondary;
    max-width: 2rem;
  }

}