@use '../style_global' as *;

.nav-wrapper + .content-wrapper {
  min-height: 100vh;
  margin-left: 0;
  padding-top: 6rem;
  
  @include mq($screen-md) {
    margin-left: 18rem;
    padding-top: 0;
  }
}

.container {
  max-width: $screen-lg;
  margin: auto;
  padding: 1rem;

  @include mq($screen-xs) {
    padding: 2rem;
  }

  @include mq($screen-md) {
    padding: 3rem;
  }

  @include mq($screen-lg) {
    padding: 4rem;
  }
}

