@use '../style_global' as *;

.container {
  max-width: $screen-lg;
  margin: auto;
  padding: 1rem;

  @include mq($screen-xs) {
    padding: 2rem;
  }

  @include mq($screen-md) {
    padding: 3rem;
  }

  @include mq($screen-lg) {
    padding: 4rem;
  }
}

.nav-wrapper + .content-wrapper {
  min-height: 100vh;
  margin-left: 0;
  padding-top: 6em;
  
  @include mq($screen-md) {
    margin-left: 18em;
    padding-top: 0;
  }
}

.header-wrapper {
  background-color: $bg-dark;
  position: relative;
  min-height: calc(100vh - 6em);
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include mq($screen-md) {
    height: 100vh;
  }
}

.profile-wrapper {
  background-color: $bg-lighter;
  position: relative;
}

.profile-header {
  margin-bottom: 2rem;
}

.profile-box-wrapper {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.15);
  
  .profile-block {
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 2em;
    
    p {
      margin-bottom: 0;
    }
  }

  @include mq($screen-sm) {
    display: flex;
    flex-wrap: wrap;

    .profile-block {
      width: 50%;
    }
  }
}

.samples-wrapper {
  background-color: $bg-neutral;
}

.sample-block {

  img {
    max-width: 400px;
    margin: auto;
  }

  @include mq($screen-sm) {
    display: flex;
    align-items: center;
  }

  .excerpt-container {
    flex: 2;
    padding: 2rem;
  }
}



