@use '../style_global' as *;

footer {
  margin-top: auto;
}

.footer-wrapper {
  text-align: center;
  background-color: $bg-darker;

  p.footer-text {
    margin-bottom: 0;
    margin-top: 0.5rem;

    span {
      display: block;
    }

    span:nth-child(2) {
      display: none;
    }

    @include mq($screen-lg) {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span:nth-child(2) {
        display: block;
        padding: 0 0.5rem;
      }
    }
  }
}

.footer-wrapper.footer-darkest {
  background-color: $bg-darkest;
}