@use '../style_global' as *;

.infoblocks {
  margin-bottom: 5rem;

  .info-variant-txt {
    color: $text-secondary;
  }

  @include mq($screen-sm) {
    display: flex;
    gap: 1rem;
  }

  .infoblock:nth-child(1) {
    padding: 1rem;

    p {
      color: $text-primary;
    }

    @include mq($screen-sm) {
      display: flex;
      background-color: $bg-neutral;
      padding: 2rem 0;
      flex: 3;
    }
  }

  .infoblock:nth-child(2) {
    margin: auto;
    height: 250px;
    width: 250px;

    @include mq($screen-xs) {
      height: 300px;
      width: 300px;
    }

    .avatar {
      height: 100%;
      width: 100%;
      background-image: url('./assets/portfolio-avatar.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .infoblock-inner {
    text-align: center;
    flex: 1;

    @include mq($screen-sm) {
      padding: 1rem;
    }
  }

  .infoblock-inner:nth-child(1) {
    @include mq($screen-sm) {
      text-align: right;
    }
  }

  .infoblock-inner:nth-child(3) {
    @include mq($screen-sm) {
      text-align: left;
    }
  }

  .vertical-divider {
    // background: linear-gradient(to top, #5e42a6, #AF4C91);
    background: $border-color;
    width: 2px;
    height: 100%;
  }
}