@use '../style_global' as *;

.nav-wrapper {
  text-align: center;
  text-transform: uppercase;
  background: $bg-darkest;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  line-height: 2rem;
  overflow: hidden;
  z-index: 10000;

  @include mq($screen-xs) {
    height: 4rem;
  }

  @include mq($screen-md) {
    position: fixed;
    text-align: right;
    height: 100vh;
    width: 18em;
  }
}

.nav-inner {
  max-width: 100%;
  min-height: 100%;
  height: inherit;
  line-height: inherit;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center; 
  transform: translateY(0);
  transition: opacity 1s ease;
  opacity: 1;

  @include mq($screen-sm) {
    max-width: 90%;
  }

  @include mq($screen-md) {
    max-width: 75%;
  }

  nav {
    width: 100%;
  }
}

.nav-inner ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  @include mq($screen-md) {
    display: flex;
    flex-direction: column; 
  }

  li {
    font-size: 0.8rem;
    letter-spacing: 0.1em;
    display: block;
    padding: 0.5rem 0.75rem;

    @include mq($screen-md) {
      padding: 0.75rem 0;
    }
  }

  .nav-link {
    display: block;
    position: relative;
    letter-spacing: 0.1em;
    transition: color 0.3s ease;
    font-size: 0.8rem;
    cursor: pointer;
  
    &:hover {
      color: $bg-neutral;
    }
    

    @include mqs($screen-sm, 1rem);

    @include mq($screen-md) {
      
      padding: 0.5rem 0;

      &::before, 
      &::after {
        border-radius: 0.1em;
        bottom: 0;
        content: '';
        height: 0.1em;
        position: absolute;
        right: 0;
        width: 100%;
      }

      &::before {
        background-color: $border-color;
      }

      &::after {
        background-image: $border-gradient;
        transition: max-width 0.5s ease;
        max-width: 0;
      }
    }
  }

  .nav-link.active {
    color: $text-primary;

    &::after {
      max-width: 100%;
    }
  }

}

