@use '../style_global' as *;

.pagenav-wrapper {
  text-transform: uppercase;
  line-height: 1.5rem;
  background: $bg-dark;
  width: 100%;
}

.pagenav-inner {
  padding: 1rem 0.5rem;
  @include mqp($screen-xs, 1.5rem 1rem);
  @include mqp($screen-sm, 2rem 1.5rem);
  @include mqp($screen-md, 2.5rem 3rem);

  $menu-item-xs: 0.75rem;
  $menu-item-sm: 0.85rem;
  $menu-item-md: 1rem;
  $menu-item-lg: 1.25rem;
  $menu-item-xl: 1.5rem;

  nav {
    text-align: center;
    width: 100%;

    @include mq($screen-xs) {
      display: flex;
      align-items: center;

      >div {
        flex: 1;
      }
    }

    .logo {
      margin-bottom: 1rem;

      a {
        // color: $bg-lighter;
        background: linear-gradient(to right, #d4c1d1, #ca4fa5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        font-size: $menu-item-lg;

        @include mqf($screen-xs, $menu-item-lg);
        @include mqf($screen-sm, $menu-item-xl);
        @include mqf($screen-md, calc($menu-item-xl + 0.25rem));
      }

      @include mq($screen-xs) {
        text-align: left;
        margin-bottom: 0;
      }
    }

    .nav-items {
      .active {
        color: $bg-deepdark;
      }

      @include mq($screen-xs) {
        text-align: right;
      }
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
      z-index: 3;

      button.dropdown {
        position: relative;
      }

      span {
        font-size: 1rem;
        position: absolute;
        bottom: 30%;
        right: 2px;
        display: inline-block;
      }
    }

    a,
    button.dropdown {
      background-color: transparent;
      color: $text-secondary;
      font-size: 0.9rem;
      padding: 0 1rem;
      border: 0;
      border-radius: 0;
      cursor: pointer;

      &:hover {
        color: $text-primary;
      }

      @include mqf($screen-xs, 1rem);
      @include mqf($screen-sm, 1.25rem);
    }

    .dropdown-menu {
      background-color: $bg-dark;
      list-style-type: none;
      text-align: right;
      display: block;
      position: absolute;
      top: 2rem;
      right: 0;
      display: flex;
      flex-direction: column;

      @include mq($screen-md) {
        top: 2.5rem;
      }

      li {
        @include mqp($screen-xs, 0 0 0.5rem 0);
        @include mqp($screen-sm, 0 0 0.75rem 0);
        @include mqp($screen-md, 0 0 0.85rem 0);
      }

      a {
        font-size: $menu-item-xs;
        @include mqf($screen-xs, $menu-item-xs);
        @include mqf($screen-sm, $menu-item-sm);
        @include mqf($screen-md, $menu-item-md);

      }
    }

  }
}