@use '../style_global' as *;

.samples-wrapper {
  background-color: $bg-neutral;
}

.sample-block {

  .preview-container {
    position: relative;
    min-height: 25em;
    width: 100%;
    background-color: $bg-neutral;
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    a {
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      backdrop-filter: brightness(0.6);
      transition: 0.5s backdrop-filter ease-in-out;
      transition-delay: 250ms;
           
      &:hover {
        backdrop-filter: brightness(1);
      }
    }

    @include mq($screen-sm) {
      min-height: 20em;
      width: 20em;
    }

    @include mq($screen-lg) {
      min-height: 25em;
      width: 25em;
    }
  }

  .excerpt-container {
    flex: 2;
    padding: 2rem;

    .inner {
      max-width: 60em;
    }
  }

  @include mq($screen-sm) {
    display: flex;
    align-items: center;
  }
}